body {
	background: #d2d2d2; font-family: 'Open Sans', sans-serif;          /*Google Font*/
}

.container {
    padding-right: 0px;
    padding-left: 0px;
	max-width:1400px;
}

.icon-bar{
    color: black;
    font-size: 20pt;
}

header .container {
    height: 62px;
    line-height: 62px;
    border-bottom: 1px solid #cccccc;
    text-align: center;
    background: #fff;
}

.nopad { padding-left:0px; padding-right:0px}

.navbar-toggle .icon-bar { 
    background-color:#000;
    font-size:18pt;
}

.all-villas { background-color:#82bfd8; color:#FFF; height:60px;}


.navbar-nav {float:none; text-align:center; margin:0 auto; width:280px;}


.jumbotron {
    margin-bottom: 0px;
}

.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 0px;
	height:600px;
}

a {
    color: #000000;
    text-decoration: none;
    font-size:16.5px;
}

.jumboleft {background-image:url(images/rent-villa-in-tuscany_WOT.jpg); background-repeat:no-repeat; background-size:cover;}
.jumboright { background-image:url(images/_map_overlay.png); background-repeat:no-repeat; background-size:cover;}

.jumbotext {
background: rgba(67,70,71,.5);
    width: 600px;
    min-height: 40px;
    color: #fff;
    padding: 30px 45px;
	margin:0 auto;
	margin-top:300px;
}

.jumbotext h1 { font-size: 26px; line-height:30px; font-weight:bold;} 
.jumbotext h2 { font-size: 16px; line-height:18px;} 

.bluebutton {float:right; width:100px; background-color:#69cfbf; color:#FFF; border:none; }

.grid { background-color: #FFF}
.gridbox { height:300px; border:1px solid #FFF; text-align:center;}
.gridbox-left { height:300px; border:1px solid #FFF; text-align:left;}
.gridbox-blue { height:300px; border:1px solid #FFF; text-align:center; background-color:#69cfbf; color:#FFF;}

.boxbutton {
    display: block;
    color: #69cfbf;
    border: 1px solid #69cfbf;
    padding: 10px 10px;
    font-size: 12px;
	background-color:transparent;
	margin-top:10px;
}

.boxbutton:hover {
	background-color:#69cfbf;
	color:#FFF;
}

.gridbox h3 {
    text-align:center;

}

h3.blue {color:#4fb1a2; text-align:left;}

.boxtext {
background: rgba(67,70,71,.7);
    min-height: 40px;
    color: #fff;
    padding: 15px 15px;
	margin:0 auto;
	margin-top:100px;
	text-align:center;
}

.boxtext2{
background: rgba(67,70,71,.7);
    min-height: 40px;
    color: #fff;
    padding: 15px 15px;
	margin:0 auto;
	margin-top:150px;
	text-align:center;
}



/*media query to set the width based on screen size*/
@media (min-width: 1400px) {

    .container {
        width: 1390px;
    }

    @media (max-width: 1024px) {

        .container .jumbotron .container-fluid .jumbotron {
            height: 400px;
        }

        .jumbotext {
            width: 400px;
            padding: 25px 35px;
            margin-top: 200px;
        }

            .jumbotext h1 {
                font-size: 26px;
                line-height: 30px;
                font-weight: bold;
            }

            .jumbotext h2 {
                font-size: 16px;
                line-height: 18px;
            }
    }

    @media (max-width: 768px) {
        .jumbotext {
            margin-top: 100px;
        }
    }






